.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    border:1px solid #bbb;
    box-sizing: border-box;
    margin:0px;
    cursor: pointer;
    text-align: center;
    padding:2px;
}
.checkbox i{
    display:none;
}
.checkbox:not(.checkbox--active):hover{
    background-color:#e5e5e5;
}

.checkbox--active{
    background-color: #019160;
    border:1px solid #019160;
}

.checkbox.checkbox--active i{
    display:block;
    color:#fff;
}