.formstaff-overlay {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 999;
    /* overflow: scroll; */
}

.formstaff {
    position: relative;
    width: 760px;
    height: 95vh;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.formstaff-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.formstaff-header .close{
    height: 36px;
    width: 36px;
   
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    box-sizing: border-box;
    border-radius: 0 0 0 4px;
}

.formstaff-header .close:hover{
    background-color: #e5e5e5;
    
}

.formstaff-header .close:active{
    background-color: #b2b2b2;
}

.formstaff-header__label {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 600;
    align-self: flex-end;
    margin-left: 16px;
}

.formstaff-body {
    height: calc(100vh - 142px);
    flex: 1;
    display: flex;
}
.formstaff .dropdown{
    width: 100%;
}

.formstaff .combobox{
    width: 100%;
}

.formstaff .combobox__list{
    width: 100%;
}

.formstaff .dropdown ul{
    width: calc(100% + 2px);
}

/* thay đổi định dạng combobox phần tình trạng công việc hướng lên trên */
.combobox-workstate .combobox__list{
    position: absolute;
    top:-170px;
    left:0px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.4);
    /* transform: rotate(180deg);   */
}

/*--------------formstaff AVATAR--------------------- */
.formstaff-avatar {
    width: 165px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.formstaff-avatar__img {
    width: 112px;
    height: 112px;
    background-image: url('../../assets/img/default-avatar.jpg');
    background-size: contain;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.formstaff-avatar__required{
    text-align: center;
    font-size: 12px;
}

/* -------------formstaff INFOR-------------------------*/
.formstaff-infor {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-red{
    color:red;
}


.inline-block{
    display:flex;
    justify-content: space-between;
    padding-right: 8px;
}

.form-block{
    width: 50%;
    padding-right:8px;
}
.form-block p{
    padding-bottom: 0px;
}
#staff-place{
    width: 50%;
}

.under-line{
    content: "";
    display: block;
    margin-top: 6px;
    width: 60px;
    height: 3px;
    background-color: #01B075;
    border-radius: 10px;
}
/* 
form staff footer */
.formstaff-footer{
    height: 60px;
    
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 16px;
}

/* button cancel */

.formstaff-footer .button-cancel{
    outline:none;
    border:none;
    background-color: #ccc;
    color: #000;
}

.formstaff-footer .button-cancel:hover{
    background-color: #E9EBEE;
    border-radius:4px;
    color:#000;
}

button.button-cancel:active{
    background-color: #b2b2b2;
    color: #000;
}

.button-cancel p{
    margin:0;
    line-height: 40px;
}
/* button save */
.button-save{
    margin-left: 32px;
}
.btn-save{
    background-image: url("../../assets/icon/save.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
}

.block-salary{
    position: relative;
}
input.salary-value{
    text-align: right;
    padding-right: 48px;
}

.currencyUnit{
    position: absolute;
    right: 16px;
    bottom:0px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-style:italic;
    padding: 0;
}

.currencyUnit p{
    margin:0;
}

/* hide form */
.formstaff--hide{
    display: none;
}

.btn-exit{
    background-color: #f65454;
}

